{% extends "base.html" %}

{% block title %}Redactor{% endblock %}
{% block head %}<h1>Redact your task</h1>{% endblock %}

{% block content %}
<form action="/redact/{{ data.id }}/" method="POST">{% csrf_token %}

    <div class="form-group row">
        <div>
            <label class="col-md-2 control-label" style="text-align: right; margin-top: 8px">{{ form.text.label }}</label>
        </div>
        <div class="col-md-10">
            {{ form.text }}
        </div>
    </div>

    <div class="form-group row" style="height: auto">
        <div>
            <label class="col-md-2 control-label"  style="text-align: right; margin-top: 6px">{{ form.date.label }}</label>
        </div>
        <div class="col-md-3" style="margin-top: 1px">
            {{ form.date }}
        </div>
        <div class="col-md-7">
            <a class="btn btn-default" type='submit' href="/my_todo_list/">Cancel</a>
            <input class="btn btn-primary" type='submit' value="Save">
        </div>
    </div>
</form>
{% endblock %}